kind: app
version: v3
metadata:
  name: proxmox-pve
  description: "Proxmox VE"
  labels:
    env: infra
    type: hypervisor
spec:
  uri: "https://{{ hostvars[groups['proxmox'][0]]['ansible_host'] }}:{{ proxmox_gui_port }}"
  insecure_skip_verify: true
---
kind: app
version: v3
metadata:
  name: proxmox-pbs
  description: "Proxmox Backup Server"
  labels:
    env: infra
    type: backup
spec:
  uri: "https://{{ hostvars[groups['pbs'][0]]['ansible_host'] }}:8007"
  insecure_skip_verify: true
---
kind: app
version: v3
metadata:
  name: truenas
  description: "TrueNAS"
  labels:
    env: infra
    type: storage
spec:
  uri: "https://{{ truenas_host }}"
  insecure_skip_verify: true
